.small-blur{
	color: #9197a3;
}

.dot{
	font-size: 3px;
	color: #428bca;
}

/**
 * 	New post form
 */
.post-form-container{
	border: solid 1px #dddddd;
	padding:10px;
}

.post-form textarea{
	border-radius: 0;
	resize:none;
}

.post-form .form-group{
	margin-bottom: 5px;
}

.post-form .navbar-nav{
	float: left;
	margin: 10px 0 0 0;
}

/**
 * 	display post
 */
.post{
	border: solid 1px #DDDDDD;
	padding: 5px;
	margin-top: 10px;
}

.post .profile-pic{
	padding:0 5px 0 0;
	float: left;
}

.post .profile-pic img{
	margin: 0;
}

.post .post-meta{
	padding:0;
	clear: both;
	margin-bottom: 10px;
}

.post .post-meta h5{
	font-weight: bold;
	font-size: 16px;
	margin: 5px 0 3px 0;
	padding-top: 5px;
}


.post .post-status{
	padding: 5px;
}

.post .navbar-nav{
	margin:0 0 5px 0;
}

@media screen and (max-width: 992px){
	.sidebar{
		display:none;
	}
}

/**
 * 	comments
 */
.add-comment input{
	border-radius: 0;
}

.comment-list{
	clear:both;
}

.comment-show{
	margin: 0;
	border-top: solid 1px #dddddd;
}

.comment-image{
	float: left;
	margin: 5px;
}

.comment-image img{
	margin: 0;
}

.comment-main{
	float: left;
	width:90%;
}

.comment-main h5{
	margin: 5px 0 0 0;
  	font-weight: bold;
  	float: left;
}

.comment-settings{
	position: relative;
	background-color: #FFFFFF;
	zoom:1;
	opacity:1;
	display: none;
}

.comment-show:hover .comment-settings,.comment-show:focus .comment-settings{
	display: block;
}

.comment-settings i{
	color:#428BCA;
	background-color: #FFFFFF;
	z-index: 2;
}

.comment-settings-list{
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	position: absolute;
	z-index: 3;
	display: none;
}

.comment-settings-list>li>a{
	padding: 3px 30px 2px 5px;
}

.comment-settings-list>li{
	line-height: 1;
}

.comment-settings:hover .comment-settings-list,.comment-settings:focus .comment-settings-list{
	display: block;
	left: -65px;
}


.comment-main p{
	margin: 0;
  	line-height: 1;
  	clear:both;
}

.comment-meta{
	float:right;
}

#dummy-comment-form-wrapper{
	display: none;
}

@media screen and (max-width: 768px){
	.comment-main{
		width:80%;
	}
}

/**
 * 	floating notices via ajax
 */
.floating-notice-wrapper{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 5000;
	overflow: auto;
  	overflow-x: hidden;
  	display: none;
}

.floating-close-area{
	position: absolute;
	top:0;
	right:0;
	left:0;
	background: #888888;
	opacity: 0.5;
	cursor: pointer;
}

.floating-notice{
	position: relative;
	max-width: 500px;
	background: #FFFFFF;
	z-index: 23423;
	top: 100px;
	margin: auto;
	margin-bottom: 100px;
	opacity: 1;
}

