.status-form-container{
	border: solid 1px #dddddd;
	padding:10px;
}

.status-form textarea{
	border-radius: 0;
	resize:none;
}

.status-form .form-group{
	margin-bottom: 5px;
}

.status-form .navbar-nav{
	float: left;
	margin: 10px 0 0 0;
}

.post{
	border: solid 1px #DDDDDD;
	padding: 5px;
	margin-top: 10px;
}

.post .profile-pic{
	padding:0 5px 0 0;
	float: left;
}

.post .profile-pic img{
	height: 40px;
	width: 40px;
	margin: 0;
}

.post .post-meta{
	padding:0;
	clear: both;
}

.post .post-meta h5{
	font-weight: bold;
	margin: 5px 0 3px 0;
}


.post .post-status{
	padding: 5px;
}

.post .navbar-nav{
	margin:0;
}

@media screen and (max-width: 992px){
	.sidebar{
		display:none;
	}
}






