.cover-section{
	height: 340px;
	position: relative;
  	width: 100%;
  	margin: 0;
  	float: left;
  	padding: 0;
 	top: -10px;
}

.cover-image-wrapper{
	position: relative;
}

.profile-photo-wrapper{
	position: relative;
	top: -120px;
	left: 20px;
	float: left;
}

.timeline-menu{
	position: relative;
	display: block;
  	left: 20px;
  	height: 40px;
  	width: 97%;
}

.timeline-menu>ul{
	height: 40px;
}

.timeline-content{
	float: left;
}
