.cover-section{
	height: 340px;
	position: relative;
  	width: 100%;
  	margin: 0;
  	float: left;
  	padding: 0;
 	top: -10px;
}

.cover-image-wrapper{
	position: relative;
}

.profile-photo-wrapper{
	position: relative;
	top: -120px;
	left: 100px;
	float: left;
}

.timeline-menu{
	position: relative;
	display: block;
  	left: 100px;
  	height: 40px;
  	width: 92%;
}

.timeline-menu>ul{
	height: 40px;
}

.timeline-content{
	float: left;
}

/**
 * 	left sidebar
 */

.left-sidebar span{
	color: #0084B4;
}

.left-sidebar .fa{
	width: 15px;
	color: #8899a6;
}

.follow{
	clear: both;
	width: 100%;
}

.follow .follow-count{
	list-style: none;
}






