{% load i18n %}
{% load thumbnail %}
<div class="panel-body post-form-container">
	<form method="post" onsubmit="$('#submit-post').button('loading'); add_post(this);return false" action="{% url 'add-post' %}" class="post-form">
		{% csrf_token %}
		<input type="hidden" name="user" value="{{ request.user.id }}" />
		<input type="hidden" name="root_post" value="{{ post.id }}" />
        <div class="form-group">
            <textarea name="status" class="form-control" placeholder="{% trans 'Do you want to add a comment with this share?' %}" rows="5"></textarea>
        </div>
        <button type="submit" id="submit-post" class="btn btn-primary pull-right">{% trans 'Share' %}</button>
    </form>
</div>
<div class="post">
	<div class="">
		<div class="post-meta">
			<div class="profile-pic">
				{% thumbnail post.user.profile_photo.url "40x40" crop="center" as im %}
				    <img src="{{ im.url }}" width="50" height="50" class="thumbnail">
				{% endthumbnail %}
				<img src="{{ post.user.profile_photo.url }}" width="50" height="50" class="thumbnail">
			</div>
			<h5><a href="#">{{ post.user.name }}</a></h5>
			<small class="small-blur">{{ post.created_on }}</small>
		</div>
		<div class="post-status">
			<p>{{ post.status }}</p>
			{%if post.attachment_type == 'image' %}
			<div class="embeded embeded-image">
				<img src="{{ post.attachment.url }}" class="thumbnail">
			</div>
			{% endif %}
			{%if post.attachment_type == 'audio' %}
			<div class="embeded embeded-audio">
				<audio controls>
					 <source src="{{ post.attachment.url }}" type='audio/mp4'></source>
					 <source src="{{ post.attachment.url }}" type='video/mp3'></source>
					 <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
					 <p>Your user agent does not support the HTML5 Audio element.</p>
				</audio>
			</div>
			{% endif %}
			{%if post.attachment_type == 'video' %}
			<div class="embeded embeded-video">
				<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" width="100%" height="400px">
				    <source src="{{ post.attachment.url }}" type='video/mp4'></source>
				    <source src="{{ post.attachment.url }}" type='video/flv'></source>
				    <source src="{{ post.attachment.url }}" type='video/avi'></source>
				    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
				</video>
			</div>
			{% endif %}
			{%if post.attachment_type == 'file' %}
			<div class="embeded embeded-file">
				<div class="embeded-file-desc thumbnail">
					<h5 style="font-weight: bold">{{ post.attachment.name|slice:"7:"|escape }}</h5>
					<a href="{{ post.attachment.url }}" target="_blank" class="">Download</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
