{% load i18n %}
{% load thumbnail %}
<div class="row post" id="post-{{ post.id }}">
	<div class="">
		<div class="post-meta">
			<div class="profile-pic">
				{% thumbnail post.user.profile_photo.url "40x40" crop="center" as im %}
				    <img src="{{ im.url }}" width="50" height="50" class="thumbnail">
				{% endthumbnail %}
				<img src="{{ post.user.profile_photo.url }}" width="50" height="50" class="thumbnail">
			</div>
			<h5><a href="#">{{ post.user.name }}</a></h5>
			<small class="small-blur">{{ post.created_on }}</small>
		</div>
		<div class="post-status">
			<p>{{ post.status }}</p>
			{%if post.attachment_type == 'image' %}
			<div class="embeded embeded-image">
				<img src="{{ post.attachment.url }}" class="thumbnail">
			</div>
			{% endif %}
			{%if post.attachment_type == 'audio' %}
			<div class="embeded embeded-audio">
				<audio controls>
					 <source src="{{ post.attachment.url }}" type='audio/mp4'></source>
					 <source src="{{ post.attachment.url }}" type='video/mp3'></source>
					 <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
					 <p>Your user agent does not support the HTML5 Audio element.</p>
				</audio>
			</div>
			{% endif %}
			{%if post.attachment_type == 'video' %}
			<div class="embeded embeded-video">
				<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" width="100%" height="400px">
				    <source src="{{ post.attachment.url }}" type='video/mp4'></source>
				    <source src="{{ post.attachment.url }}" type='video/flv'></source>
				    <source src="{{ post.attachment.url }}" type='video/avi'></source>
				    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
				</video>
			</div>
			{% endif %}
			{%if post.attachment_type == 'file' %}
			<div class="embeded embeded-file">
				<div class="embeded-file-desc thumbnail">
					<h5 style="font-weight: bold">{{ post.attachment.name|slice:"7:"|escape }}</h5>
					<a href="{{ post.attachment.url }}" target="_blank" class="">Download</a>
				</div>
			</div>
			{% endif %}
			{% if post.root_post %}
			<div class="post">
				<div class="">
					<div class="post-meta">
						<div class="profile-pic">
							{% thumbnail post.root_post.user.profile_photo.url "40x40" crop="center" as im %}
							    <img src="{{ im.url }}" width="50" height="50" class="thumbnail">
							{% endthumbnail %}
							<img src="{{ post.root_post.user.profile_photo.url }}" width="50" height="50" class="thumbnail">
						</div>
						<h5><a href="#">{{ post.root_post.user.name }}</a></h5>
						<small class="small-blur">{{ post.root_post.created_on }}</small>
					</div>
					<div class="post-status">
						<p>{{ post.root_post.status }}</p>
						{%if post.root_post.attachment %}
						<img src="{{ post.root_post.attachment.url }}" width="100%">
						{% endif %}
					</div>
				</div>
			</div>

			{% endif %}
			<div class="navbar-nav">
				<a href="#" title="{% trans 'Like' %}">
					<i class="fa fa-thumbs-o-up fa-1"></i>
				</a>&nbsp;&nbsp;<i class="fa fa-circle fa-1 dot"></i>&nbsp;&nbsp;
				<a href="#" title="{% trans 'Favorite' %}">
					<i class="fa fa-heart fa-1"></i>
				</a>&nbsp;&nbsp;<i class="fa fa-circle fa-1 dot"></i>&nbsp;&nbsp; 
				<a href="#" title="{% trans 'Comment' %}"  data-id="{{ post.id }}" class="show-comment">
					<i class="fa fa-comment fa-1"></i>&nbsp;{% if post.comment_set.all.count %}{{ post.comment_set.all.count }}{% endif %}
				</a>&nbsp;&nbsp;<i class="fa fa-circle fa-1 dot"></i>&nbsp;&nbsp;
				<a href="{% if post.root_post %}{% url 'share-post' post.root_post.id %}{% else %}{% url 'share-post' post.id %}{% endif %}" title="{% trans 'Share' %}" class="share-post">
					<i class="fa fa-share-alt fa-1"></i>
				</a>&nbsp;&nbsp;<i class="fa fa-circle fa-1 dot"></i>&nbsp;&nbsp;
				<a href="#"title="{% trans 'Report' %}">
					<i class="fa fa-flag fa-1"></i>
				</a>
			</div>
			<div id="comment-on-{{ post.id }}" class="comment-list"></div>
			{% include 'parts/comment_form.html' %}
		</div>
	</div>
</div>