{% load i18n %}
<div class="row post">
	<div class="">
		<div class="post-meta">
			<div class="profile-pic">
				<img class="thumbnail"/>
			</div>
			<h5><a href="#">{{ post.user_id.name }}</a></h5>
			<small class="small-blur">{{ post.created_on }}</small>
		</div>
		<div class="post-status">
		<p>{{ post.status }}</p>
		<div class="navbar-nav">
			<a href="#">{% trans 'Comment' %}</a>&nbsp;
			<a href="#">{% trans 'Share' %}</a>&nbsp;
			<a href="#">{% trans 'Like' %}</a>&nbsp;
			<a href="#">{% trans 'Favorite' %}</a>&nbsp;
			<a href="#">{% trans 'Report' %}</a>
		</div>
		</div>
	</div>
</div>