{% extends 'base.html' %}
{% load i18n %}

{% block group-static %}
<link href="{{ STATIC_URL }}css/timeline.css" rel="stylesheet">
{% endblock %}

{% block page-header %}
<div class="col-sm-12 cover-section">
	<div class="cover-image-wrapper">
		<img src="{{ user.cover_image.url }}" width="100%" height="300px" />
	</div>
	<div class="profile-photo-wrapper">
		<img src="{{ user.profile_photo.url }}" width="160px" height="auto" class="thumbnail"/>
	</div>
	<nav class="timeline-menu">
		<ul class="nav nav-tabs">
		  <li><a href="{% url 'timeline' user.id %}">Timeline</a></li>
		  <li><a href="{% url 'profile' user.id %}">Profile</a></li>
		  <li><a href="#">Favorites</a></li>
		  <li><a href="#">Likes</a></li>
		  <li role="presentation" class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		      More <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a href="#">Images</a></li>
		      <li><a href="#">Videos</a></li>
		      <li><a href="#">Likes</a></li>
		    </ul>
		  </li>
		</ul>
	</nav>
	<div>
		
	</div>
</div>
{% endblock %}

{% block left-sidebar %}
<div class="col-lg-2 col-md-2 sidebar left-sidebar">
	{% block left-sidebar-content%}
	
	{% endblock %}
</div>
{% endblock %}

{% block content %}{% endblock %}